<h1>Latest Posts</h1>
	

    <% @blogposts.each do |blogpost| %>
     <div class="post-listing">
        <h2><%= blogpost.title %></h2>
        <p class"post-excerpt"><%= blogpost.contents %></p>
        <%= link_to 'Show', blogpost %>
        <%= link_to 'Edit', edit_blogpost_path(blogpost) %>
        <%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %>
     </div>
    <% end %>
