<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navigation">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li><%= link_to 'New Blogpost', new_blogpost_path %></li>
		</ul>
	</div>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
